@import url('https://fonts.googleapis.com/css2?family=Poetsen+One&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "popins",sans-serif;
    outline: none;

}

.Entete{
position: fixed;
top: 0;
left: 0;
width: 100%;
padding: 1.3em 10%;
background: rgba(0, 0, 0, .1);
 display: inline-flex; 
justify-content: space-between;
align-items: center;
z-index: 100;

}
.Entete::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .1);
 backdrop-filter: blur(50PX);  
z-index: -1;

}


.logo{
    font-size: 2rem;
    color: #154360;
    text-decoration: none;
    font-weight: 700;
}
.navbar a{
    font-size: 1.15rem;
    color: #fff;
    text-decoration: none;
    font-weight: 500;
    margin-left: 2.5rem;
}

#check{
    display: none;
}

  .icons {
     position: absolute; 
     left: 25%;
    font-size: 2.8rem;
    color: #fff;
    cursor: pointer;
    display: none;
    
}

@media(max-width:992PX){
    .Entete{
        padding: 1.3rem 5%;
    }
  

}

    
@media(max-width:768PX){
    .icons{
      display: block;
      
    }

    #check:checked~.icons #menu-icone{
        display: none;
       
    }
    .icons #close-icone{
        display: none;
    }

    #check:checked~.icons #close-icone{
        display: block;
    }

    .navbar{
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        height: 0;
        
        background: rgba(0, 0, 0, .1);
        backdrop-filter: blur(50PX);
        box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .1);
         /*overflow: hidden;*/ 
        transition: .3s ease;
    }

    /* #check:checked~.navbar{
         height: 17.7rem; 
        height: calc(100vh - 78.25px);
    } */

    .navbar a{
        display: block;
        font-size: 1.1rem;
        margin: 1.5rem 0;
        text-align: center;
        transform: translateY(-50PX);
        opacity: 0;
        transition: .3s ease;
        color: #FFF;
        height: 9PX;
        text-decoration: none;
        font-weight: 500;
        margin-left:0;
        
    
    }

    #check:checked~.navbar a{
        transform: translateY(0PX);
        opacity: 1;
        transition-delay: calc(.15s * var(--i));
    }


    .part1{
   
      background-color: rgb(245, 245, 245);
      height: 768PX;
      margin-top: 17PX;
      width: 100%;
     
    }
   .box1 .ProduitEslocaux{
        font-size: 35PX;
        margin-top: 34PX;
        margin-left: 63PX;
        text-align: center;
      
  
    }

 
   .part1 .ProduitEslocaux{
        font-size: 35PX;
        margin-top:-92PX;
        /* text-align: center; */
        padding-top: 32PX;
         margin-left: -13PX; 
       

    }
    .part1 .agro{
        font-size: 38PX;
        margin-left: 3PX;
        margin-top: 11px;
    }
    .part1 .p1{
        font-size: 5PX;
    }
    .part1 .p2{
        font-size: 11PX;
        margin-left: -63PX;
    }
   .part1 .box1{
        margin-right: 10PX;
        margin-top: 152PX;
        width: 90%;
        font-size: 23PX;
    }

    .box1 .p2{
        margin-top: 12PX;
        font-size: 20PX;
        text-align: center;
        margin-left: 33PX;
    }

    .part1 .box2{
        margin-top: 432PX;
    }
     .box2 .modifimg{
       width: 300PX;
       /* margin-right: 1002PX; */
       /* margin-top: 265PX; */
       margin-left: -454PX;
        margin-top: 150PX; 
       
       
    }
    .box1 .voter{
        width: 108PX;
        margin-left: 95PX;
        /* margin-left: -65PX; */
    }

    .part2 .box3{
        width: 100%;
        margin-left:   0PX;

    }
     .box3 .image1{
     width: 150PX;   
     margin-left: 35PX;
    } 
    .box3 .image2{
        width: 150PX;   
        margin-left: 35PX;
        margin-top: 4PX;
       }
    .box3 .image1{
     width: 150PX;   
     margin-left: 35PX;
    }
  
    .part2 .box4{
        margin-top: 510PX;
        margin-left: -484PX;
        width: 485PX;
    
    }
    .box4 .p3{
 font-size: 20PX;
 margin-left: 145PX;
    }
    .box4 .p4{
        font-size: 10PX;
        margin-left: 66PX;
        margin-top: 12PX;
        text-align: center;
           }
    
    .part2 .imagesbox{
         width: 475PX; 
       
        display: table;
    }

    .imagesbox .imagesboxe1{
        width: 200PX;
        font-size: small;
       
        /* display: none; */
        border-radius: 20PX;
        margin-left: 200PX;
        margin-top: 12PX;
   
      
        
    }  

    .imagesbox .imagesboxe2{
        width: 200PX;
        font-size: small;
        margin-left: 53PX;
        /* display: none; */
        border-radius: 20PX;
        margin-left: 200PX;
        margin-top: 12PX;
      
        
    }  

    .imagesbox .imagesboxe3{
        width: 200PX;
        font-size: small;
        /* margin-left: 53PX; */
        /* display: none; */
        border-radius: 20PX;
        margin-left: 200PX;
        margin-top: 12PX;
        margin-bottom: 12PX;
        
    }  
   
#imagesboxe2{
        margin-left: 193PX;
    } 

    .part3 .lesproduits{
    
        
             margin-left: 34PX;
            height: auto;
            display: grid;
            gap: 1.3rem; 
            grid-template-columns: repeat(auto-fit,minmax(214PX, 1fr));
        

    }
  .lesproduits   .boximg{
     
        margin-left: -17PX;
        border-radius: 10PX;
        background-color: rgb(174, 174, 174);
        box-shadow: -15PX, -25PX, -25PX,-15PX rgb(152, 152, 152);
        margin-bottom: 12PX;
        width: 100%; 
        position: relative;
        overflow: hidden;
        height: 420PX;
     }
  
.sankal{
    height: 30PX;
}
.arraw{
    height: 30PX;
}
.produitsnaturels1{
    height: 30PX;
}
.produitsnaturels2{
    height: 30PX;
}
.produitsnaturels3{
    height: 30PX;
}
.boximg .PRODUITSNATURELS{
    height: 30PX;

}
.boximg .prix{
    height: 30PX;
}
.boximg .tag{
    height: 30PX;
}

.boxajouter{
    margin-bottom: 50PX;
}

.par7 .mesboxes1{
    width: 100%;
    height: 1000PX; 

    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(217PX,1fr));
    align-items: center;
     /* margin-left: 223PX;  */
     gap: 1.5rem;
     justify-content: center;
     position: relative;
     overflow: hidden;
     padding-right: 162PX;
    
    
   
  

    
    

}
.mesboxes1 .boxes2{
    width: 300PX;
    margin-left: 67PX;
   
            

}

 .par8 .form{
    margin-left: 20PX;
}



.monfooter  {
    width: 100%;
    height: auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(217PX, 1fr));
    align-items: center;
    /* margin-left: 223PX; */
    gap: 1.5rem;
    justify-content: center;
    position: relative;
    overflow: hidden;
    padding-right: 162PX;
}


.mesinfos {
    width: 100%;
    height: auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(217PX, 1fr));
    align-items: center;
    /* margin-left: 223PX; */
    gap: 1.5rem;
    justify-content: center;
    position: relative;
    overflow: hidden;
    margin-left: 67PX;
 
}

.copyright{
 margin-left: 65PX;
    color: #FFF;
        width: 225PX;
}

.objectifs .mesheures{
    text-align: center;
}

    /* .lesproduits .boximg {
        border: solid rgb(174, 174, 174) 1PX;
        margin-left: -25PX;
        border-radius: 10PX;
        background-color: rgb(174, 174, 174);
        box-shadow: -15PX, -25PX, -25PX, -15PX rgb(152, 152, 152);
        margin-bottom: 22PX;
        width: 210PX;

    } */


     

/* .boximg{
    width: 100PX;
    margin-right: 30PX;
}
#monboximg001{
    margin-top: 674PX;

}

#monboximg002{
    margin-top: -340PX;
    height: 56PX;
}
#monboximge004{
    margin-top: 334PX;
    margin-left: -25PX;
}
#monboximg005{
    margin-top: 690PX;
    margin-left: -235PX;
}
#monboximgES007{
    margin-top: 10PX;
    margin-left: -245PX;
}
#monboximg008{
    margin-top: 325PX;
    margin-left: -444PX;
}
#monboximgE009{
    margin-top: 2PX;
    margin-left: -249PX;
}
#monboximg003{
    margin-top: 342PX;
    margin-left: -455PX;
} */

.boximg .monboximg1{
    width: 620PX;
 
}
/* .boximg .monboximg2{
    width: 620PX;
 
} */

  .monboximg2 .monbox2{
        width: 70PX;
    }

  
   .Monimages1 img {
    width: 50PX;
    margin-left: -34PX;
   }

   .monboximg1 .monbox1{
    width:  400PX;
    height: 250PX;
   }

   .monboximg2 .monbox2{
    width:  400PX;
    height: 250PX;
   }

   
   .monboximg3 .monbox3{
    width:  400PX;
    height: 250PX;
   }

   .monboximg4 .monbox4{
    width:  400PX;
    height: 250PX;
   }
   .monboximg5 .monbox5{
    width:  400PX;
    height: 250PX;
   }
   .monboximg6 .monbox6{
    width:  400PX;
    height: 250PX;
   }
   .monboximg7 .monbox7{
    width:  400PX;
    height: 250PX;
   }
   .monboximg8 .monbox8{
    width:  400PX;
    height: 250PX;
   }


}


@media(max-width: 1492PX){
    .P1{
        font-size: 10PX;
        font-weight: bold;
    }
}

@media(max-width: 1468PX){
    .P2{
        font-size: 10PX;
        font-weight: bold;
    }
}

@media(max-width:570px){
    .icons{
        display: block;
        right: 0;
      }



      #check:checked~.icons #menu-icone{
        display: none;
       
    }
    .icons #close-icone{
        display: none;
    }

    #check:checked~.icons #close-icone{
        display: block;
    }

    .navbar{
        position: absolute;
        top: 100%;
        left: -30%;
        width: 100%;
        height: 0%;
        
        background: rgba(0, 0, 0, .1);
        backdrop-filter: blur(50PX);
        box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .1);
        /* overflow: hidden; */
        transition: .3s ease;
    }

    #check:checked~.navbar{
        height: 15.7rem;
    }

    .navbar a{
        display: block;
        font-size: 1.1rem;
        margin: 1.3rem 0;
        text-align: center;
        transform: translateY(-50PX);
        opacity: 0;
        transition: .3s ease;
        color: #FFF;
        height: 10PX;
        text-decoration: none;
        font-weight: 500;
    }

    #check:checked~.navbar a{
        transform: translateY(0PX);
        opacity: 1;
        transition-delay: calc(.15s * var(--i));
    }

   
   .par4 .temoignage{
        font-size: 22PX;
    }

    .par4 .lorem{
        font-size: 12PX;
    }
    .par4 .mesboxes{
        /* margin-left: 123PX; */
        margin-top: 12PX;
        height: auto;
    }

    .mesboxes .boxes1{
        width: 240PX;
        margin-left: 37PX;
    }

   #Mesimages   #mesimageslogo1{
       width: 90PX;
       margin-left: -248PX;
    }
    .par4{
        height: auto;
    }

    .par5{
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(214PX, 1fr));
        column-gap: 12PX;
    }
    .mesimgpar5 .imgpar5{
        width: auto;
        margin-right: 94PX;
    }

    .moninput{
        margin-left: -950PX;
    }

    .par6 .myform{
   
        /* text-align: center; */
        /* margin-left: 39%; */
        /* margin-top: 15%; */
        width: 350PX;
        height: 63PX;
        border-radius: 10PX;
        padding: 15PX;
        /* align-items: center; */
    }

    .moninput{
        width: 320PX;
        height: 36PX;
        margin-left: -4PX;
    }

    .par7{
        height: auto;
    }
}

.mesimgpar5 .imgpar5{
    width: auto;
    margin-right: 94PX;
}

/* .liste{
    list-style: none;
    padding-left: 10px;
    
  

}
.logo{
    color: black;
    margin-left: 33PX;
    font-size: 23PX;
    font-weight: bold;
    font-family:Arial, Helvetica, sans-serif
}
a{
    text-decoration: none;
}
.accueil{
    padding-left: 40px;
    color: black;
    font-size: 23PX;
    font-weight: bold;
}
.accueil:hover{
    color:#8b0058;
    transition: 0.4s;
}
.produite{
    padding-left: 40px;
    color: black;
    font-size: 23PX;
    font-weight: bold;
}
.produite:hover{
    color:#8b0058;
    transition: 0.4s;
}
.service{
    padding-left: 40px;
    color: black;
    font-size: 23PX;
    font-weight: bold;
}
.service:hover{
    color:#8b0058;
    transition: 0.4s;
}
.contacte{
    padding-left: 40px;
    color: black;
    font-size: 23PX;
    font-weight: bold;
}
.contacte:hover{
    color:#8b0058;
    transition: 0.4s;
}
#icones{
    margin-left: 474PX;
    display: inline-flex;
}
.fa-solid{
    padding-left: 13PX;
    padding-right: 6PX;
}*/

.abonnement{
    margin-left: 4px;
    margin-bottom:1PX;
    width: 95PX;
    height: 43PX;
    background-color: green;
    border: green;
    border-radius: 10PX;
    color: #FFF;

} 

.ProduitEslocaux{
    font-size: xx-large;    
    
}
.ProduitEslocaux{
font-size: xx-large;
color: #152a3e ;
font-family: Arial, Helvetica, sans-serif;
font-weight: bold;
}
.p2{
font-size: 12PX;
}
.P1{
    font-size: 19PX;
    font-weight: bold;
    margin-top: 12PX;
   
}
.part1{
    display: inline-flex;
  background-color: rgb(245, 245, 245);
/* height: 545PX; */
  margin-top: 17PX;
  width: 100%;
}
.part2{
    display: inline-flex;
    margin-top: 0PX;
    background-color: rgba(112, 128, 143, 0.205);
    width: 100%;
}
.box1{
    margin-left: 70PX;
    margin-top: 152PX;
    width: 313PX;
}
.box2{
     margin-left: 160PX;
     margin-top: 152PX; 

     
}
 .modifimg{
width: 645PX;
animation: img 8s ease-in-out infinite;
border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
} 
@keyframes img{
    0%{
        border-radius: 60% 40% 30% 70%/60% 30% 70% 40%; 
    }
    50%{
        border-radius: 30% 60% 70% 40%/50% 60% 30% 60%; 
    }
    100%{
        border-radius: 60% 40% 30% 70%/60% 30% 70% 40%; 
    }
}

.voter{
    font-size: "60px";
    height: 55px;
    width: 195PX;
    border-radius: 10PX;
    background-color: rgb(7, 138, 7);
    color: #FFF;
    border: rgb(7, 138, 7);
    text-align: center;
    cursor: pointer;
    margin-top: 19PX;
}
.box3{
    border: solid #ffffff 1PX;
    border-radius: 10px;
    width: 350PX;
    height: 490PX;
    margin-left: 62PX;
    padding-left: 100PX;
    padding-top: 14PX;
    background-color: #FFF;
   margin-top: 12PX;
   margin-bottom: 12PX;
}


.box4{
    margin-left: 20PX;
    background-color: #FFF;
    border: solid  #FFF 1PX;
     border-radius: 10PX;
     width: 770PX;
     margin-top:12PX ;
     margin-bottom: 12PX;
  

}
.image1{
    border: #000, solid;
    border-radius: 10px;
    width: 150PX;
    height: 220PX;
    margin-top: 15PX;
   margin-left: 0PX;
 
  

}
.image2{
    border: #000, solid;
    border-radius: 10px;
    width: 150PX;
    height: 220PX;
}
.imagesbox{
    display: inline-flex;
    margin-left: 10PX;
    
   
}
.p3{
    font-size: 38PX;
    text-decoration: underline;
    color: rgb(154, 101, 32);
    text-align: left;
    margin-left: 20PX;
}
.p4{
    margin-left: 20PX;

}
.imagesboxe1{
border-radius: 0PX 90PX 0PX  90PX;
border: solid #00000033 9PX;
height: 184PX;
margin-left: 10PX;
width: 200PX;
}

.imagesboxe2{
    border-radius: 0PX 90PX 0PX  90PX;
    border: solid #00000033 9PX;
    height: 184PX;
    margin-left: 10PX;
    width: 200PX;
    }

    .imagesboxe3{
        border-radius: 0PX 90PX 0PX  90PX;
        border: solid #00000033 9PX;
        height: 184PX;
        margin-left: 10PX;
        width: 200PX;
        }
/* .lesproduits{
    display: grid;
    margin-left: 110PX;
    grid-template-columns: 200PX 1fr;
    
    
} */
.boximg{
     border: solid rgb(174, 174, 174) 1PX;
    margin-left: 25PX;
    border-radius: 10PX;
    background-color: rgb(174, 174, 174);
    box-shadow: -15PX, -25PX, -25PX,-15PX rgb(152, 152, 152);
    margin-bottom: 22PX;
    width: 200PX; 
    position: relative;
    overflow: hidden;
    /* height: 340PX; */
}
.h3{
    text-align: center;
    font-size: xx-large;
    margin-top: 0;
}
.sankal{
    text-align: center;
}
.part3 .lesproduits{
    margin-left: 34PX;
    height: auto;
    display: grid;
    gap: 1.3rem;
    grid-template-columns: repeat(auto-fit,minmax(247PX, 1fr));
}
.PRODUITSNATURELS{
    text-align: center;
}
.produitsnaturels1{
    text-align: center;
}
.produitsnaturels2{
    text-align: center;
}
.produitsnaturels3{
    text-align: center;
}
.prix{
    text-align: center;
}
.arraw{
    text-align: center;
}
.ajouter{
    text-align: center;
    width: 100%;
    background-color: green;
    height: 10PX;
    border-radius: 0,20PX;
    align-items: center;
   
   
}
.boxajouter{
    margin-top: 5px;
    text-align: center;
    width: 100%;
    background-color: green;
    height: 30PX;
    border-radius: 10PX;
   
   
}
#ajouter{
    align-items: center;
    padding-top: 6PX;
 
}
.monbox1{
    font-size: 3PX;
    width: 209px;
    height: 200PX;
}
.monbox2{
    font-size: 3PX;
    width: 209px;
    height: 200PX;
}
.monbox3{
    font-size: 3PX;
    width: 209px;
    height: 200PX;
}
.monbox4{
    font-size: 3PX;
    width: 209px;
    height: 200PX;
}
.monbox5{
    font-size: 3PX;
    width: 209px;
    height: 200PX;
}
.monbox6{
    font-size: 3PX;
    width: 209px;
    height: 200PX;
}
.monbox7{
    font-size: 3PX;
    width: 209px;
    height: 200PX;
}
.monbox8{
    font-size: 3PX;
    width: 209px;
    height: 200PX;
}

.monboximg1{
    font-size: 12PX;
    padding-top: 14PX;
    /* width: 209PX;
    height: 200PX; */
}
.monboximg2{
    font-size: 12PX;
    padding-top: 14PX;
    /* width: 209PX;
    height: 200PX; */
}
.monboximg3{
    font-size: 12PX;
    padding-top: 14PX;
}
.monboximg4{
    font-size: 12PX;
    padding-top: 14PX;
}
.monboximg5{
    font-size: 12PX;
    padding-top: 14PX;
}
.monboximg6{
    font-size: 12PX;
    padding-top: 14PX;
}
.monboximg7{
    font-size: 12PX;
    padding-top: 14PX;
}
.monboximg8{
    font-size: 12PX;
    padding-top: 14PX;
}
.part3{
     background-color: rgb(216, 216, 216);
    

 

    
    
    
    
}
.par4{
   
    background-size: cover;
     /* height: 800PX;  */
    top: 0;
    background-repeat: no-repeat;
    left: 0;
    z-index: -1;
    background-position: center;
    background: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)), url("https://festivaldessaveursdafrique.wordpress.com/wp-content/uploads/2020/10/cropped-exo_5-1.jpg");
    background-attachment: fixed;
    width: auto;

}
.temoignage{
    text-align: center;
    color: #FFF;
    font-size: 40px;
    margin-top: 0PX;
}
.lorem{
    text-align: center;
    color: #FFF;
}
.mesboxes{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(237PX,1fr));
    gap: 3.1rem ;

    /* align-items: center; */
    margin-left: 63PX;
    width: 100%;
   


}
.mesboxes1{
    display: flex;
    grid-template-columns: repeat(auto-fit,minmax(217PX,1fr));
    align-items: center;
     /* margin-left: 223PX;  */
     gap: 100PX 100PX;
     justify-content: center;
     
    
    

}
.boxes1{
    overflow: hidden;
    position: relative;
    border:solid, #ffffff7f 1PX;
    max-width: 200px;
    height: 300PX;
    border-radius: 10PX;
    background-color: #FFF;
    padding-left: 23PX;
    margin-left: 10PX;
}
.Monimages1{
    width: 150PX;
    align-items: center;
}
.boxes2{
     border:solid, #FFF 1PX;
     max-width:250PX; 
    height: 300PX;
     border-radius: 10PX; 
    background-color: #FFF;
     padding-left: 0PX;
    margin-left: 10PX; 
    /* position: relative; */
    /* overflow: hidden;  */



    /*overflow: hidden;
    position: relative;
    border: solid, #ffffff7f 1PX;
    width: 100px;
    height: 300PX;
    border-radius: 10PX;
    background-color: #FFF;
    padding-left: 23PX;
    margin-left: 10PX;*/

}
.monimageslogo{
    border-radius: 50%;
    margin-left: 68PX;
    margin-top: 12PX;
    width: 70PX;
   
}
.monimageslogo1{
    border-radius: 50%;
    margin-left: 48PX;
    margin-top: 12PX;
    width: 70PX;
   
}
.monlorem{
    text-align: center;
    font-size: 13PX;
}
.meslorem{
    margin-top: 123PX;
}
.abdoukhadim{
    text-align: center;
}
.par5{
    background-color: #8f8f8f;
}
/* .par5{
    display: inline-flex;
} */
  /* .mesimagespare5,img{
    
    font-size: 12PX;
    width: 40PX;
    inline-size: auto;
}  
 */
 .par6{
    background:  linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)), url("https://www.consommonslocal.net/wp-content/uploads/2020/06/banner-Ker-maam.jpg");
    height: 500PX;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;

    display: flex;
    justify-content: center;
    align-items: center;
 }
.par6 .myform{
   
    /* text-align: center; */
    /* margin-left: 39%; */
    /* margin-top: 15%; */
    width: 350PX;
    height: 63PX;
    border-radius: 10PX;
    padding: 15PX;
    /* align-items: center; */
}
.moninput{
    width: 320PX;
    height: 36PX;
}
.monbutton{
    height: 37PX;
    width: 177PX;
    background-color: rgb(8, 136, 93);
    margin-left: 25%;
    border-radius: 6PX;
    color: #FFF;
    margin-top: 12PX;
}
.nosservices{
    text-align: center;
    margin-top: 0;
    font-size: 33PX;
    color: #066059;
}
.par7{
    background-color: #d3d3d3;
    /* height: 404PX; */
   
}
.par8{
    background:  linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)), url("https://senego.com/wp-content/uploads/2017/06/femmes-10.jpg");
    height: 400PX;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}
.contact{
    text-align: center;
    color: #FFF;
    margin-top: 0PX;
    font-size: 43PX;

}
.form{
    margin-left: 40%;
}
.text{
    width: 340PX;
}
.mail{
    
    width: 340PX;
}
.textarea{
    
    width: 340PX;
}
.envoie{
    width: 350PX;
    height: 33PX;
    background:linear-gradient(90deg,#054457,#0a6a87);
    border-radius: 40PX;
    color: #FFF;
    text-decoration: none;
    letter-spacing: 2PX;
    font-size: 18PX;
    border: solid, #054457 2PX;
    cursor: pointer;


}
footer{
    background-color: #000;
    width: 100%;
    height: 270PX;
    
    
}
.mesinfos{
    /* display: inline-flex;
    color: #FFF; */

        /* width: 100%; */
        height: auto;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(217PX, 1fr));
        align-items:first baseline;
        /* margin-left: 223PX; */
        gap: 1.1rem;
        justify-content: center;
        /* position: relative; */
        /* overflow: hidden; */
      
    
}
.objectifs{
    color: #FFF;
    margin-left: 34PX;
}
.mesobjectifs{
    color: #FFF;
    margin-left: 4PX;

}
.mesheures{
    color: #FFF;
     /* margin-left: 154PX;  */
     text-align: center; 
    
}
.mesobjectifs{
    text-align: center;
}
.mecontacter{
    color: #FFF;
     /* margin-left: 224PX;  */
    text-align: center;
    
}
.tag{
    text-align: center;
}
.copyright{
    margin-top: 82PX;
    text-align: center;
    color: #FFF;
}
#check:checked~.navbar{
    /* height: 17.7rem; */
    height: calc(100vh - 78.25px);
}

.par5{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(247PX, 1fr));
    column-gap: 12PX;
}
    
    /* *********** Responsiveness of header ************** */
